section{
	padding: 130px 0
}
.elementor-620 .elementor-element.elementor-element-5087eec>.elementor-container {
	max-width: 1760px
}
.elementor-620 .elementor-element.elementor-element-5087eec {
	margin-top: 180px;
	margin-bottom: 180px
}
.elementor-620 .elementor-element.elementor-element-c80d82f>.elementor-element-populated {
	padding: 0 5% 0 15%
}
.elementor-620 .elementor-element.elementor-element-c4f93bd .elementor-heading-title {
	font-size: 30px;
	font-weight: 700;
	line-height: 1.2em;
	letter-spacing: -1px
}
.elementor-620 .elementor-element.elementor-element-2b443ad .elementor-divider-separator {
	border-top-style: solid;
	border-top-color: #311e71;
	width: 80px;
	border-top-width: 5px
}
.elementor-620 .elementor-element.elementor-element-2b443ad .elementor-divider {
	padding-top: 20px;
	padding-bottom: 20px
}
.elementor-620 .elementor-element.elementor-element-0bb6369 .elementor-heading-title {
	        
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
}
.elementor-620 .elementor-element.elementor-element-fa54559 .elementor-spacer-inner {
	height: 60px
}
.elementor-620 .elementor-element.elementor-element-ebdbed9 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(45px/2)
}
.elementor-620 .elementor-element.elementor-element-ebdbed9 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(45px/2)
}
.elementor-620 .elementor-element.elementor-element-ebdbed9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(45px/2);
	margin-left: calc(45px/2)
}
.elementor-620 .elementor-element.elementor-element-ebdbed9 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-45px/2);
	margin-left: calc(-45px/2)
}
body.rtl .elementor-620 .elementor-element.elementor-element-ebdbed9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-45px/2)
}
body:not(.rtl) .elementor-620 .elementor-element.elementor-element-ebdbed9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-45px/2)
}
.elementor-620 .elementor-element.elementor-element-ebdbed9 .elementor-icon-list-icon i {
	color: #4241ff;
	font-size: 14px
}
.elementor-620 .elementor-element.elementor-element-ebdbed9 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
	color: #fff
}
.elementor-620 .elementor-element.elementor-element-ebdbed9 .elementor-icon-list-icon {
	width: 14px
}
.elementor-620 .elementor-element.elementor-element-ebdbed9 .elementor-icon-list-text {
	padding-left: 35px
}
.elementor-620 .elementor-element.elementor-element-ebdbed9 .elementor-icon-list-item {
	font-size: 18px;
	font-weight: 700
}
.elementor-620 .elementor-element.elementor-element-5d232b8 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(45px/2)
}
.elementor-620 .elementor-element.elementor-element-5d232b8 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(45px/2)
}
.elementor-620 .elementor-element.elementor-element-5d232b8 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(45px/2);
	margin-left: calc(45px/2)
}
.elementor-620 .elementor-element.elementor-element-5d232b8 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-45px/2);
	margin-left: calc(-45px/2)
}
body.rtl .elementor-620 .elementor-element.elementor-element-5d232b8 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-45px/2)
}
body:not(.rtl) .elementor-620 .elementor-element.elementor-element-5d232b8 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-45px/2)
}
.elementor-620 .elementor-element.elementor-element-5d232b8 .elementor-icon-list-icon i {
	color: #4241ff;
	font-size: 14px
}
.elementor-620 .elementor-element.elementor-element-5d232b8 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
	color: #fff
}
.elementor-620 .elementor-element.elementor-element-5d232b8 .elementor-icon-list-icon {
	width: 14px
}
.elementor-620 .elementor-element.elementor-element-5d232b8 .elementor-icon-list-text {
	padding-left: 35px
}
.elementor-620 .elementor-element.elementor-element-5d232b8 .elementor-icon-list-item {
	font-size: 18px;
	font-weight: 700
}
.elementor-620 .elementor-element.elementor-element-66bc991>.elementor-container {
	max-width: 1760px
}
.elementor-620 .elementor-element.elementor-element-66bc991 {
	margin-top: 150px;
	margin-bottom: 0
}
.elementor-620 .elementor-element.elementor-element-106865e>.elementor-element-populated {
	padding: 0 5% 0 15%
}
.elementor-620 .elementor-element.elementor-element-56df1a8 .elementor-heading-title {
	font-size: 56px;
	font-weight: 700;
	line-height: 1.2em;
	letter-spacing: -1px
}
.elementor-620 .elementor-element.elementor-element-b81517f .elementor-divider-separator {
	border-top-style: solid;
	border-top-color: #4241ff;
	width: 80px;
	border-top-width: 5px
}
.elementor-620 .elementor-element.elementor-element-b81517f .elementor-divider {
	padding-top: 20px;
	padding-bottom: 20px
}
.elementor-620 .elementor-element.elementor-element-078f1e7 .elementor-heading-title {
	
	font-size: 24px;
	line-height: 1.6em
}
.elementor-620 .elementor-element.elementor-element-6b93054 .elementor-spacer-inner {
	height: 60px
}
.elementor-620 .elementor-element.elementor-element-696c44c {
	text-align: left
}
.elementor-620 .elementor-element.elementor-element-696c44c .elementor-image img {
	width: 138px
}
.elementor-620 .elementor-element.elementor-element-4f11b26 .elementor-heading-title {
	font-size: 30px;
	font-weight: 700;
	letter-spacing: -2px
}
.elementor-620 .elementor-element.elementor-element-1be27ae .elementor-spacer-inner {
	height: 50px
}
.elementor-620 .elementor-element.elementor-element-29b23f1 {
	text-align: left
}
.elementor-620 .elementor-element.elementor-element-29b23f1 .elementor-image img {
	width: 138px
}
.elementor-620 .elementor-element.elementor-element-995fcf9 .elementor-heading-title {
	font-size: 30px;
	font-weight: 700;
	letter-spacing: -2px
}
.elementor-620 .elementor-element.elementor-element-1d289b9 .elementor-spacer-inner {
	height: 50px
}
.elementor-620 .elementor-element.elementor-element-7f1ccc3 {
	text-align: left
}
.elementor-620 .elementor-element.elementor-element-7f1ccc3 .elementor-image img {
	width: 138px
}
.elementor-620 .elementor-element.elementor-element-9dd2ae3 .elementor-heading-title {
	font-size: 30px;
	font-weight: 700;
	letter-spacing: -2px
}
.elementor-620 .elementor-element.elementor-element-7e46175>.elementor-container {
	max-width: 1760px
}
.elementor-620 .elementor-element.elementor-element-7e46175 {
	margin-top: 150px;
	margin-bottom: 0
}
.elementor-620 .elementor-element.elementor-element-0587dd6>.elementor-element-populated {
	padding: 0 5% 0 15%
}
.elementor-620 .elementor-element.elementor-element-ef5f4f2 .elementor-heading-title {
	font-size: 56px;
	font-weight: 700;
	line-height: 1.2em;
	letter-spacing: -1px
}
.elementor-620 .elementor-element.elementor-element-ce34704 .elementor-divider-separator {
	border-top-style: solid;
	border-top-color: #4241ff;
	width: 80px;
	border-top-width: 5px
}
.elementor-620 .elementor-element.elementor-element-ce34704 .elementor-divider {
	padding-top: 20px;
	padding-bottom: 20px
}
.elementor-620 .elementor-element.elementor-element-2538c46 .elementor-heading-title {
	
	font-size: 24px;
	line-height: 1.6em
}
.elementor-620 .elementor-element.elementor-element-39c9b18 .elementor-spacer-inner {
	height: 80px
}
.elementor-620 .elementor-element.elementor-element-a2764eb .lastudio-timeline--align-center .timeline-item__point {
	margin-left: 30px;
	margin-right: 30px
}
.elementor-620 .elementor-element.elementor-element-a2764eb .lastudio-timeline--align-left .timeline-item__point {
	margin-right: 30px
}
.elementor-620 .elementor-element.elementor-element-a2764eb .lastudio-timeline--align-right .timeline-item__point {
	margin-left: 30px
}
.elementor-620 .elementor-element.elementor-element-a2764eb .lastudio-timeline-item+.lastudio-timeline-item {
	margin-top: 70px
}
.elementor-620 .elementor-element.elementor-element-a2764eb .lastudio-timeline-item .timeline-item__card {
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0)
}
.elementor-620 .elementor-element.elementor-element-a2764eb .lastudio-timeline-item .timeline-item__card-arrow {
	width: 0;
	height: 0
}
.elementor-620 .elementor-element.elementor-element-a2764eb .lastudio-timeline--align-center .lastudio-timeline-item:nth-child(odd) .timeline-item__card-arrow {
	margin-left: calc(0px/2);
	margin-right: calc(0px/2)
}
.elementor-620 .elementor-element.elementor-element-a2764eb .lastudio-timeline--align-center .lastudio-timeline-item:nth-child(even) .timeline-item__card-arrow {
	margin-left: calc(0px/2)
}
.rtl .elementor-620 .elementor-element.elementor-element-a2764eb .lastudio-timeline--align-center .lastudio-timeline-item:nth-child(odd) .timeline-item__card-arrow {
	margin-left: calc(0px/2)
}
.rtl .elementor-620 .elementor-element.elementor-element-a2764eb .lastudio-timeline--align-center .lastudio-timeline-item:nth-child(even) .timeline-item__card-arrow {
	margin-right: calc(0px/2)
}
.elementor-620 .elementor-element.elementor-element-a2764eb .lastudio-timeline--align-left .lastudio-timeline-item .timeline-item__card-arrow {
	margin-left: calc(0px/2)
}
.elementor-620 .elementor-element.elementor-element-a2764eb .lastudio-timeline--align-right .lastudio-timeline-item .timeline-item__card-arrow {
	margin-right: calc(0px/2)
}
.elementor-620 .elementor-element.elementor-element-a2764eb .lastudio-timeline-item .timeline-item__card-img {
	margin-bottom: 10px
}
.elementor-620 .elementor-element.elementor-element-a2764eb .lastudio-timeline-item .timeline-item__meta-content {
	
	font-size: 32px;
	font-weight: 700;
	line-height: 10px;
	padding: 0 0 30px;
	color: #212121
}
.elementor-620 .elementor-element.elementor-element-a2764eb .lastudio-timeline-item .timeline-item__card-content {
	padding: 0
}
.elementor-620 .elementor-element.elementor-element-a2764eb .lastudio-timeline--align-top .lastudio-timeline-item .timeline-item__card-arrow {
	margin-top: 12px
}
.elementor-620 .elementor-element.elementor-element-a2764eb .lastudio-timeline--align-bottom .lastudio-timeline-item .timeline-item__card-arrow {
	margin-bottom: 12px
}
.elementor-620 .elementor-element.elementor-element-a2764eb .lastudio-timeline-item .timeline-item__card-desc {
	font-size: 18px;
	line-height: 2em;
	margin: 0 0 20px
}
.elementor-620 .elementor-element.elementor-element-a2764eb .timeline-item__point-content.timeline-item__point-content--icon i {
	font-size: 0px
}
.elementor-620 .elementor-element.elementor-element-a2764eb .timeline-item__point-content {
	height: 10px;
	width: 10px;
	color: #4241ff;
	background-color: #4241ff
}
.elementor-620 .elementor-element.elementor-element-a2764eb .lastudio-timeline--align-center .lastudio-timeline__line {
	margin-left: calc(10px/2);
	margin-right: calc(10px/2)
}
.elementor-620 .elementor-element.elementor-element-a2764eb .lastudio-timeline--align-left .lastudio-timeline__line {
	margin-left: calc(10px/2)
}
.elementor-620 .elementor-element.elementor-element-a2764eb .lastudio-timeline--align-right .lastudio-timeline__line {
	margin-right: calc(10px/2)
}
.elementor-620 .elementor-element.elementor-element-a2764eb .lastudio-timeline__line {
	background-color: rgba(79,79,79,0);
	width: 2px
}
.elementor-620 .elementor-element.elementor-element-a2764eb .lastudio-timeline__line-progress {
	background-color: #4241ff
}
.elementor-620 .elementor-element.elementor-element-a2764eb {
	width: 520px;
	max-width: 520px
}
.elementor-620 .elementor-element.elementor-element-caed28f>.elementor-container {
	max-width: 1760px
}
.elementor-620 .elementor-element.elementor-element-caed28f {
	margin-top: 150px;
	margin-bottom: 0
}
.elementor-620 .elementor-element.elementor-element-b8d7170>.elementor-element-populated {
	padding: 0 5% 0 15%
}
.elementor-620 .elementor-element.elementor-element-936561c .elementor-heading-title {
	font-size: 56px;
	font-weight: 700;
	line-height: 1.2em;
	letter-spacing: -1px
}
.elementor-620 .elementor-element.elementor-element-9e0ea76 .elementor-divider-separator {
	border-top-style: solid;
	border-top-color: #4241ff;
	width: 80px;
	border-top-width: 5px
}
.elementor-620 .elementor-element.elementor-element-9e0ea76 .elementor-divider {
	padding-top: 20px;
	padding-bottom: 20px
}
.elementor-620 .elementor-element.elementor-element-53af50e .elementor-heading-title {
	
	font-size: 24px;
	line-height: 1.6em
}
.elementor-620 .elementor-element.elementor-element-1711a7f .elementor-spacer-inner {
	height: 50px
}
.elementor-620 .elementor-element.elementor-element-05cfde1 .lastudio-team-member__item {
	padding: 20px
}
.elementor-620 .elementor-element.elementor-element-05cfde1 .lastudio-team-member {
	margin-right: -20px;
	margin-left: -20px
}
.elementor-620 .elementor-element.elementor-element-05cfde1 .lastudio-carousel .lastudio-slick-dots li {
	padding-left: 5px;
	padding-right: 5px
}
.elementor-620 .elementor-element.elementor-element-05cfde1 .lastudio-carousel .lastudio-slick-dots {
	justify-content: center
}
.elementor-620 .elementor-element.elementor-element-33854cb>.elementor-container {
	max-width: 1760px
}
.elementor-620 .elementor-element.elementor-element-33854cb {
	margin-top: 150px;
	margin-bottom: 150px
}
.elementor-620 .elementor-element.elementor-element-ac28c9c>.elementor-element-populated {
	padding: 0 5% 0 15%
}
.elementor-620 .elementor-element.elementor-element-462753b .elementor-heading-title {
	font-size: 56px;
	font-weight: 700;
	line-height: 1.2em;
	letter-spacing: -1px
}
.elementor-620 .elementor-element.elementor-element-4b3b4b7 .elementor-divider-separator {
	border-top-style: solid;
	border-top-color: #4241ff;
	width: 80px;
	border-top-width: 5px
}
.elementor-620 .elementor-element.elementor-element-4b3b4b7 .elementor-divider {
	padding-top: 20px;
	padding-bottom: 20px
}
.elementor-620 .elementor-element.elementor-element-b4f63e5 .elementor-heading-title {
	
	font-size: 24px;
	line-height: 1.6em
}
.elementor-620 .elementor-element.elementor-element-9679b1e .elementor-spacer-inner {
	height: 50px
}
.elementor-620 .elementor-element.elementor-element-4c72db5 .lastudio-carousel__content {
	text-align: left
}
.elementor-620 .elementor-element.elementor-element-4c72db5 .lastudio-carousel .lastudio-slick-dots li {
	padding-left: 5px;
	padding-right: 5px
}
.elementor-620 .elementor-element.elementor-element-4c72db5 .lastudio-carousel .lastudio-slick-dots {
	justify-content: center
}
@media(min-width:1025px) {
.elementor-620 .elementor-element.elementor-element-f4012d0 {
	width: 30%
}
.elementor-620 .elementor-element.elementor-element-fc83269 {
	width: 70%
}
.elementor-620 .elementor-element.elementor-element-437772d {
	width: 30%
}
.elementor-620 .elementor-element.elementor-element-7c403e2 {
	width: 70%
}
.elementor-620 .elementor-element.elementor-element-bd3580d {
	width: 30%
}
.elementor-620 .elementor-element.elementor-element-ff12f87 {
	width: 70%
}
}
@media(max-width:1599px) {
.elementor-620 .elementor-element.elementor-element-5087eec {
	margin-top: 120px;
	margin-bottom: 0;
	padding: 0 30px
}
.elementor-620 .elementor-element.elementor-element-c80d82f>.elementor-element-populated {
	padding: 10px
}
.elementor-620 .elementor-element.elementor-element-c4f93bd .elementor-heading-title {
	font-size: 46px
}
.elementor-620 .elementor-element.elementor-element-2b443ad .elementor-divider {
	padding-top: 20px;
	padding-bottom: 20px
}
.elementor-620 .elementor-element.elementor-element-2b443ad .elementor-divider-separator {
	border-top-width: 3px
}
.elementor-620 .elementor-element.elementor-element-aff78e6>.elementor-element-populated {
	padding: 10px
}
.elementor-620 .elementor-element.elementor-element-0bb6369 .elementor-heading-title {
	font-size: 22px
}
.elementor-620 .elementor-element.elementor-element-fa54559 .elementor-spacer-inner {
	height: 40px
}
.elementor-620 .elementor-element.elementor-element-ebdbed9 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(20px/2)
}
.elementor-620 .elementor-element.elementor-element-ebdbed9 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(20px/2)
}
.elementor-620 .elementor-element.elementor-element-ebdbed9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(20px/2);
	margin-left: calc(20px/2)
}
.elementor-620 .elementor-element.elementor-element-ebdbed9 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-20px/2);
	margin-left: calc(-20px/2)
}
body.rtl .elementor-620 .elementor-element.elementor-element-ebdbed9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-20px/2)
}
body:not(.rtl) .elementor-620 .elementor-element.elementor-element-ebdbed9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-20px/2)
}
.elementor-620 .elementor-element.elementor-element-ebdbed9 .elementor-icon-list-item {
	font-size: 16px
}
.elementor-620 .elementor-element.elementor-element-5d232b8 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(20px/2)
}
.elementor-620 .elementor-element.elementor-element-5d232b8 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(20px/2)
}
.elementor-620 .elementor-element.elementor-element-5d232b8 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(20px/2);
	margin-left: calc(20px/2)
}
.elementor-620 .elementor-element.elementor-element-5d232b8 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-20px/2);
	margin-left: calc(-20px/2)
}
body.rtl .elementor-620 .elementor-element.elementor-element-5d232b8 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-20px/2)
}
body:not(.rtl) .elementor-620 .elementor-element.elementor-element-5d232b8 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-20px/2)
}
.elementor-620 .elementor-element.elementor-element-5d232b8 .elementor-icon-list-item {
	font-size: 16px
}
.elementor-620 .elementor-element.elementor-element-66bc991 {
	margin-top: 80px;
	margin-bottom: 0;
	padding: 0 30px
}
.elementor-620 .elementor-element.elementor-element-106865e>.elementor-element-populated {
	padding: 10px
}
.elementor-620 .elementor-element.elementor-element-56df1a8 .elementor-heading-title {
	font-size: 46px
}
.elementor-620 .elementor-element.elementor-element-b81517f .elementor-divider {
	padding-top: 20px;
	padding-bottom: 20px
}
.elementor-620 .elementor-element.elementor-element-b81517f .elementor-divider-separator {
	border-top-width: 3px
}
.elementor-620 .elementor-element.elementor-element-ce54326>.elementor-element-populated {
	padding: 10px
}
.elementor-620 .elementor-element.elementor-element-078f1e7 .elementor-heading-title {
	font-size: 22px
}
.elementor-620 .elementor-element.elementor-element-6b93054 .elementor-spacer-inner {
	height: 40px
}
.elementor-620 .elementor-element.elementor-element-696c44c .elementor-image img {
	width: 100px
}
.elementor-620 .elementor-element.elementor-element-4f11b26 .elementor-heading-title {
	font-size: 24px;
	letter-spacing: 0px
}
.elementor-620 .elementor-element.elementor-element-1be27ae .elementor-spacer-inner {
	height: 30px
}
.elementor-620 .elementor-element.elementor-element-29b23f1 .elementor-image img {
	width: 100px
}
.elementor-620 .elementor-element.elementor-element-995fcf9 .elementor-heading-title {
	font-size: 24px;
	letter-spacing: 0px
}
.elementor-620 .elementor-element.elementor-element-1d289b9 .elementor-spacer-inner {
	height: 30px
}
.elementor-620 .elementor-element.elementor-element-7f1ccc3 .elementor-image img {
	width: 100px
}
.elementor-620 .elementor-element.elementor-element-9dd2ae3 .elementor-heading-title {
	font-size: 24px;
	letter-spacing: 0px
}
.elementor-620 .elementor-element.elementor-element-7e46175 {
	margin-top: 80px;
	margin-bottom: 0;
	padding: 0 30px
}
.elementor-620 .elementor-element.elementor-element-0587dd6>.elementor-element-populated {
	padding: 10px
}
.elementor-620 .elementor-element.elementor-element-ef5f4f2 .elementor-heading-title {
	font-size: 46px
}
.elementor-620 .elementor-element.elementor-element-ce34704 .elementor-divider {
	padding-top: 20px;
	padding-bottom: 20px
}
.elementor-620 .elementor-element.elementor-element-ce34704 .elementor-divider-separator {
	border-top-width: 3px
}
.elementor-620 .elementor-element.elementor-element-d9a4b7f>.elementor-element-populated {
	padding: 10px
}
.elementor-620 .elementor-element.elementor-element-2538c46 .elementor-heading-title {
	font-size: 22px
}
.elementor-620 .elementor-element.elementor-element-39c9b18 .elementor-spacer-inner {
	height: 50px
}
.elementor-620 .elementor-element.elementor-element-a2764eb .lastudio-timeline-item+.lastudio-timeline-item {
	margin-top: 20px
}
.elementor-620 .elementor-element.elementor-element-a2764eb .lastudio-timeline-item .timeline-item__meta-content {
	font-size: 26px;
	padding: 0 0 20px
}
.elementor-620 .elementor-element.elementor-element-a2764eb .lastudio-timeline-item .timeline-item__card-desc {
	font-size: 16px
}
.elementor-620 .elementor-element.elementor-element-caed28f {
	margin-top: 80px;
	margin-bottom: 0;
	padding: 0 30px
}
.elementor-620 .elementor-element.elementor-element-b8d7170>.elementor-element-populated {
	padding: 10px
}
.elementor-620 .elementor-element.elementor-element-936561c .elementor-heading-title {
	font-size: 46px
}
.elementor-620 .elementor-element.elementor-element-9e0ea76 .elementor-divider {
	padding-top: 20px;
	padding-bottom: 20px
}
.elementor-620 .elementor-element.elementor-element-9e0ea76 .elementor-divider-separator {
	border-top-width: 3px
}
.elementor-620 .elementor-element.elementor-element-bd2c796>.elementor-element-populated {
	padding: 10px
}
.elementor-620 .elementor-element.elementor-element-53af50e .elementor-heading-title {
	font-size: 22px
}
.elementor-620 .elementor-element.elementor-element-1711a7f .elementor-spacer-inner {
	height: 30px
}
.elementor-620 .elementor-element.elementor-element-05cfde1 .lastudio-team-member__item {
	padding: 10px
}
.elementor-620 .elementor-element.elementor-element-05cfde1 .lastudio-team-member {
	margin-right: -10px;
	margin-left: -10px
}
.elementor-620 .elementor-element.elementor-element-33854cb {
	margin-top: 80px;
	margin-bottom: 80px;
	padding: 0 30px
}
.elementor-620 .elementor-element.elementor-element-ac28c9c>.elementor-element-populated {
	padding: 10px
}
.elementor-620 .elementor-element.elementor-element-462753b .elementor-heading-title {
	font-size: 46px
}
.elementor-620 .elementor-element.elementor-element-4b3b4b7 .elementor-divider {
	padding-top: 20px;
	padding-bottom: 20px
}
.elementor-620 .elementor-element.elementor-element-4b3b4b7 .elementor-divider-separator {
	border-top-width: 3px
}
.elementor-620 .elementor-element.elementor-element-d69025e>.elementor-element-populated {
	padding: 10px
}
.elementor-620 .elementor-element.elementor-element-b4f63e5 .elementor-heading-title {
	font-size: 22px
}
.elementor-620 .elementor-element.elementor-element-9679b1e .elementor-spacer-inner {
	height: 30px
}
}
@media(max-width:1024px) {
.elementor-620 .elementor-element.elementor-element-5087eec {
	padding: 0 20px
}
.elementor-620 .elementor-element.elementor-element-c80d82f {
	width: 35%
}
.elementor-620 .elementor-element.elementor-element-c4f93bd .elementor-heading-title {
	font-size: 36px
}
.elementor-620 .elementor-element.elementor-element-aff78e6 {
	width: 65%
}
.elementor-620 .elementor-element.elementor-element-66bc991 {
	padding: 0 20px
}
.elementor-620 .elementor-element.elementor-element-106865e {
	width: 35%
}
.elementor-620 .elementor-element.elementor-element-56df1a8 .elementor-heading-title {
	font-size: 36px
}
.elementor-620 .elementor-element.elementor-element-ce54326 {
	width: 65%
}
.elementor-620 .elementor-element.elementor-element-f4012d0 {
	width: 25%
}
.elementor-620 .elementor-element.elementor-element-fc83269 {
	width: 75%
}
.elementor-620 .elementor-element.elementor-element-437772d {
	width: 25%
}
.elementor-620 .elementor-element.elementor-element-7c403e2 {
	width: 75%
}
.elementor-620 .elementor-element.elementor-element-bd3580d {
	width: 25%
}
.elementor-620 .elementor-element.elementor-element-ff12f87 {
	width: 75%
}
.elementor-620 .elementor-element.elementor-element-7e46175 {
	padding: 0 20px
}
.elementor-620 .elementor-element.elementor-element-0587dd6 {
	width: 35%
}
.elementor-620 .elementor-element.elementor-element-ef5f4f2 .elementor-heading-title {
	font-size: 36px
}
.elementor-620 .elementor-element.elementor-element-d9a4b7f {
	width: 65%
}
.elementor-620 .elementor-element.elementor-element-caed28f {
	padding: 0 20px
}
.elementor-620 .elementor-element.elementor-element-b8d7170 {
	width: 35%
}
.elementor-620 .elementor-element.elementor-element-936561c .elementor-heading-title {
	font-size: 36px
}
.elementor-620 .elementor-element.elementor-element-bd2c796 {
	width: 65%
}
.elementor-620 .elementor-element.elementor-element-33854cb {
	padding: 0 20px
}
.elementor-620 .elementor-element.elementor-element-ac28c9c {
	width: 35%
}
.elementor-620 .elementor-element.elementor-element-462753b .elementor-heading-title {
	font-size: 36px
}
.elementor-620 .elementor-element.elementor-element-d69025e {
	width: 65%
}
}
@media(max-width:799px) {
.elementor-620 .elementor-element.elementor-element-5087eec {
	margin-top: 90px;
	margin-bottom: 0
}
.elementor-620 .elementor-element.elementor-element-c4f93bd .elementor-heading-title {
	font-size: 30px
}
.elementor-620 .elementor-element.elementor-element-ebdbed9 .elementor-icon-list-item {
	font-size: 14px
}
.elementor-620 .elementor-element.elementor-element-5d232b8 .elementor-icon-list-item {
	font-size: 14px
}
.elementor-620 .elementor-element.elementor-element-66bc991 {
	margin-top: 70px;
	margin-bottom: 0
}
.elementor-620 .elementor-element.elementor-element-56df1a8 .elementor-heading-title {
	font-size: 30px
}
.elementor-620 .elementor-element.elementor-element-7e46175 {
	margin-top: 70px;
	margin-bottom: 0
}
.elementor-620 .elementor-element.elementor-element-ef5f4f2 .elementor-heading-title {
	font-size: 30px
}
.elementor-620 .elementor-element.elementor-element-caed28f {
	margin-top: 70px;
	margin-bottom: 0
}
.elementor-620 .elementor-element.elementor-element-936561c .elementor-heading-title {
	font-size: 30px
}
.elementor-620 .elementor-element.elementor-element-33854cb {
	margin-top: 70px;
	margin-bottom: 70px
}
.elementor-620 .elementor-element.elementor-element-462753b .elementor-heading-title {
	font-size: 30px
}
}
@media(max-width:575px) {
.elementor-620 .elementor-element.elementor-element-5087eec {
	margin-top: 70px;
	margin-bottom: 0;
	padding: 0 10px
}
.elementor-620 .elementor-element.elementor-element-c80d82f {
	width: 100%
}
.elementor-620 .elementor-element.elementor-element-2b443ad .elementor-divider {
	padding-top: 10px;
	padding-bottom: 10px
}
.elementor-620 .elementor-element.elementor-element-aff78e6 {
	width: 100%
}
.elementor-620 .elementor-element.elementor-element-ebdbed9>.elementor-widget-container {
	margin: 0 0 20px
}
.elementor-620 .elementor-element.elementor-element-66bc991 {
	margin-top: 40px;
	margin-bottom: 0;
	padding: 0 10px
}
.elementor-620 .elementor-element.elementor-element-106865e {
	width: 100%
}
.elementor-620 .elementor-element.elementor-element-b81517f .elementor-divider {
	padding-top: 10px;
	padding-bottom: 10px
}
.elementor-620 .elementor-element.elementor-element-ce54326 {
	width: 100%
}
.elementor-620 .elementor-element.elementor-element-4f11b26 .elementor-heading-title {
	font-size: 20px
}
.elementor-620 .elementor-element.elementor-element-995fcf9 .elementor-heading-title {
	font-size: 20px
}
.elementor-620 .elementor-element.elementor-element-9dd2ae3 .elementor-heading-title {
	font-size: 20px
}
.elementor-620 .elementor-element.elementor-element-7e46175 {
	margin-top: 40px;
	margin-bottom: 0;
	padding: 0 10px
}
.elementor-620 .elementor-element.elementor-element-0587dd6 {
	width: 100%
}
.elementor-620 .elementor-element.elementor-element-ce34704 .elementor-divider {
	padding-top: 10px;
	padding-bottom: 10px
}
.elementor-620 .elementor-element.elementor-element-d9a4b7f {
	width: 100%
}
.elementor-620 .elementor-element.elementor-element-caed28f {
	margin-top: 40px;
	margin-bottom: 0;
	padding: 0 10px
}
.elementor-620 .elementor-element.elementor-element-b8d7170 {
	width: 100%
}
.elementor-620 .elementor-element.elementor-element-9e0ea76 .elementor-divider {
	padding-top: 10px;
	padding-bottom: 10px
}
.elementor-620 .elementor-element.elementor-element-bd2c796 {
	width: 100%
}
.elementor-620 .elementor-element.elementor-element-33854cb {
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 0 10px
}
.elementor-620 .elementor-element.elementor-element-ac28c9c {
	width: 100%
}
.elementor-620 .elementor-element.elementor-element-4b3b4b7 .elementor-divider {
	padding-top: 10px;
	padding-bottom: 10px
}
.elementor-620 .elementor-element.elementor-element-d69025e {
	width: 100%
}
}
@media(max-width:1599px) and (min-width:1025px) {
.elementor-620 .elementor-element.elementor-element-c80d82f {
	width: 40%
}
.elementor-620 .elementor-element.elementor-element-aff78e6 {
	width: 60%
}
.elementor-620 .elementor-element.elementor-element-106865e {
	width: 40%
}
.elementor-620 .elementor-element.elementor-element-ce54326 {
	width: 60%
}
.elementor-620 .elementor-element.elementor-element-f4012d0 {
	width: 20%
}
.elementor-620 .elementor-element.elementor-element-437772d {
	width: 20%
}
.elementor-620 .elementor-element.elementor-element-bd3580d {
	width: 20%
}
.elementor-620 .elementor-element.elementor-element-0587dd6 {
	width: 40%
}
.elementor-620 .elementor-element.elementor-element-d9a4b7f {
	width: 60%
}
.elementor-620 .elementor-element.elementor-element-b8d7170 {
	width: 40%
}
.elementor-620 .elementor-element.elementor-element-bd2c796 {
	width: 60%
}
.elementor-620 .elementor-element.elementor-element-ac28c9c {
	width: 40%
}
.elementor-620 .elementor-element.elementor-element-d69025e {
	width: 60%
}
}
.elementor-620 .elementor-element.elementor-element-ebdbed9 .elementor-icon-list-icon i {
	border: 1px solid #3e3e3e;
	width: 32px;
	height: 32px;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
	transition: all .3s;
	top: 0
}
.elementor-620 .elementor-element.elementor-element-ebdbed9 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
	background-color: #4241ff;
	border-color: #4241ff
}
.elementor-620 .elementor-element.elementor-element-5d232b8 .elementor-icon-list-icon i {
	border: 1px solid #3e3e3e;
	width: 32px;
	height: 32px;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
	transition: all .3s;
	top: 0
}
.elementor-620 .elementor-element.elementor-element-5d232b8 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
	background-color: #4241ff;
	border-color: #4241ff
}



.lds-ripple {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px
}
.lds-ripple div {
	position: absolute;
	border: 4px solid #fff;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite
}
.lds-ripple div:nth-child(2) {
	animation-delay: -0.5s
}
@keyframes lds-ripple {
0% {
top:28px;
left:28px;
width:0;
height:0;
opacity:1
}
100% {
top:-1px;
left:-1px;
width:58px;
height:58px;
opacity:0
}
}
.site-loading .la-image-loading {
	opacity: 1;
	visibility: visible
}
.la-image-loading.spinner-custom .content {
	width: 100px;
	margin-top: -50px;
	height: 100px;
	margin-left: -50px;
	text-align: center
}
.la-image-loading.spinner-custom .content img {
	width: auto;
	margin: 0 auto
}
.site-loading #outer-wrap.site {
	opacity: 0;
	transition: all .3s ease-in-out
}
#outer-wrap.site {
	opacity: 1
}
.la-image-loading {
	opacity: 0;
	position: fixed;
	z-index: 999999;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	overflow: hidden;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	visibility: hidden
}
.la-image-loading .content {
	position: absolute;
	width: 50px;
	height: 50px;
	top: 50%;
	left: 50%;
	margin-left: -25px;
	margin-top: -25px
}
.la-loader.spinner1 {
	width: 40px;
	height: 40px;
	margin: 5px;
	display: block;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
	-webkit-animation: la-rotateplane 1.2s infinite ease-in-out;
	animation: la-rotateplane 1.2s infinite ease-in-out;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px
}
.la-loader.spinner2 {
	width: 40px;
	height: 40px;
	margin: 5px;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
	border-radius: 100%;
	-webkit-animation: la-scaleout 1.0s infinite ease-in-out;
	animation: la-scaleout 1.0s infinite ease-in-out
}
.la-loader.spinner3 {
	margin: 15px 0 0 -10px;
	width: 70px;
	text-align: center
}
.la-loader.spinner3 [class*="bounce"] {
	width: 18px;
	height: 18px;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: la-bouncedelay 1.4s infinite ease-in-out;
	animation: la-bouncedelay 1.4s infinite ease-in-out;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}
.la-loader.spinner3 .bounce1 {
	-webkit-animation-delay: -.32s;
	animation-delay: -.32s
}
.la-loader.spinner3 .bounce2 {
	-webkit-animation-delay: -.16s;
	animation-delay: -.16s
}
.la-loader.spinner4 {
	margin: 5px;
	width: 40px;
	height: 40px;
	text-align: center;
	-webkit-animation: la-rotate 2.0s infinite linear;
	animation: la-rotate 2.0s infinite linear
}
.la-loader.spinner4 [class*="dot"] {
	width: 60%;
	height: 60%;
	display: inline-block;
	position: absolute;
	top: 0;
	border-radius: 100%;
	-webkit-animation: la-bounce 2.0s infinite ease-in-out;
	animation: la-bounce 2.0s infinite ease-in-out;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.15)
}
.la-loader.spinner4 .dot2 {
	top: auto;
	bottom: 0;
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s
}
.la-loader.spinner5 {
	margin: 5px;
	width: 40px;
	height: 40px
}
.la-loader.spinner5 div {
	width: 33%;
	height: 33%;
	float: left;
	-webkit-animation: la-cubeGridScaleDelay 1.3s infinite ease-in-out;
	animation: la-cubeGridScaleDelay 1.3s infinite ease-in-out
}
.la-loader.spinner5 div:nth-child(1), .la-loader.spinner5 div:nth-child(5), .la-loader.spinner5 div:nth-child(9) {
	-webkit-animation-delay: .2s;
	animation-delay: .2s
}
.la-loader.spinner5 div:nth-child(2), .la-loader.spinner5 div:nth-child(6) {
	-webkit-animation-delay: .3s;
	animation-delay: .3s
}
.la-loader.spinner5 div:nth-child(3) {
	-webkit-animation-delay: .4s;
	animation-delay: .4s
}
.la-loader.spinner5 div:nth-child(4), .la-loader.spinner5 div:nth-child(8) {
	-webkit-animation-delay: .1s;
	animation-delay: .1s
}
.la-loader.spinner5 div:nth-child(7) {
	-webkit-animation-delay: 0s;
	animation-delay: 0s
}
@-webkit-keyframes la-rotateplane {
0% {
-webkit-transform:perspective(120px)
}
50% {
-webkit-transform:perspective(120px) rotateY(180deg)
}
100% {
-webkit-transform:perspective(120px) rotateY(180deg) rotateX(180deg)
}
}
@keyframes la-rotateplane {
0% {
transform:perspective(120px) rotateX(0deg) rotateY(0deg)
}
50% {
transform:perspective(120px) rotateX(-180.1deg) rotateY(0deg)
}
100% {
transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
}
}
@-webkit-keyframes la-scaleout {
0% {
-webkit-transform:scale(0)
}
100% {
-webkit-transform:scale(1);
opacity:0
}
}
@keyframes la-scaleout {
0% {
transform:scale(0);
-webkit-transform:scale(0)
}
100% {
transform:scale(1);
-webkit-transform:scale(1);
opacity:0
}
}
@-webkit-keyframes la-bouncedelay {
0%, 80%, 100% {
-webkit-transform:scale(0)
}
40% {
-webkit-transform:scale(1)
}
}
@keyframes la-bouncedelay {
0%, 80%, 100% {
transform:scale(0)
}
40% {
transform:scale(1)
}
}
@-webkit-keyframes la-rotate {
100% {
-webkit-transform:rotate(360deg)
}
}
@keyframes la-rotate {
100% {
transform:rotate(360deg);
-webkit-transform:rotate(360deg)
}
}
@-webkit-keyframes la-bounce {
0%, 100% {
-webkit-transform:scale(0)
}
50% {
-webkit-transform:scale(1)
}
}
@keyframes la-bounce {
0%, 100% {
transform:scale(0)
}
50% {
transform:scale(1)
}
}
@-webkit-keyframes la-cubeGridScaleDelay {
0% {
-webkit-transform:scale3d(1, 1, 1)
}
35% {
-webkit-transform:scale3d(0, 0, 1)
}
70% {
-webkit-transform:scale3d(1, 1, 1)
}
100% {
-webkit-transform:scale3d(1, 1, 1)
}
}
@keyframes la-cubeGridScaleDelay {
0% {
transform:scale3d(1, 1, 1)
}
35% {
transform:scale3d(0, 0, 1)
}
70% {
transform:scale3d(1, 1, 1)
}
100% {
transform:scale3d(1, 1, 1)
}
}
.la-loader.spinner1, .la-loader.spinner2, .la-loader.spinner3 [class*="bounce"], .la-loader.spinner4 [class*="dot"], .la-loader.spinner5 div {
	background-color: #311e71
}
.section-page-header .page-title {
	color: #ffffff;
	font-weight: 700;
	text-transform: none
}
.section-page-header {
	background-image: url("../images/inner_banner.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover
}
.section-page-header {
	color: #ffffff
}
.section-page-header a {
	color: #ffffff
}
.section-page-header a:hover {
	color: #4241ff
}
.lastudio-posts.blog__entries .entry-excerpt {
	font-family: "Alegreya";
	font-weight: normal
}
#main #content-wrap {
	padding-top: 0;
	padding-bottom: 0
}
.ul_products.products {
}
.ul_products.products li.product_item {
	padding-bottom: 30px
}
.lastudio-posts.blog__entries .post-thumbnail .blog_item--thumbnail, .lastudio-posts.blog__entries .post-thumbnail .blog_item--thumbnail .slick-slide .sinmer {
	padding-bottom: 46%
}
@media (min-width:1600px) {
.section-page-header .page-header-inner {
	padding-top: 320px;
	padding-bottom: 320px
}
.section-page-header .page-title {
	font-size: 40px;
	line-height: 97px;
	text-align:center
}
.section-page-header .site-breadcrumbs {
	font-size: 18px;
	line-height: 22px
}
.lastudio-posts.blog__entries {
}
.lastudio-posts.blog__entries .loop__item {
	padding-bottom: 70px
}
.lastudio-posts.blog__entries .post-meta {
	font-size: 11px
}
.lastudio-posts.blog__entries .entry-excerpt {
	font-size: 16px;
	line-height: 32px
}
}
.la-isotope-loading span {
	box-shadow: 2px 2px 1px #4241FF
}
a:hover, a.light:hover {
	color: #4241FF
}
blockquote {
	border-color: #4241FF
}
input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, button[type="submit"]:hover, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button[type="submit"]:focus, .button:hover {
	background-color: #311e71
}
.lahb-wrap .lahb-nav-wrap .menu li.current ul li a:hover, .lahb-wrap .lahb-nav-wrap .menu ul.sub-menu li.current >a, .lahb-wrap .lahb-nav-wrap .menu ul li.menu-item:hover >a {
	color: #4241FF
}
.lahb-nav-wrap .menu >li.current >a {
	color: #4241FF
}
.lahb-modal-login #user-logged .author-avatar img {
	border-color: #4241FF
}
.single-post-article >.post-terms {
	color: #4241FF
}
.single-post-article >.entry-footer .tags-list a:hover {
	border-color: #4241FF;
	background-color: #4241FF
}
.single-post-article >.entry-footer .tags-list a:hover {
	border-color: #4241FF;
	background-color: #4241FF
}
.section-related-posts.related-posts-design-2 .entry-title a:hover {
	color: #4241FF
}
.widget-title:after {
	border-bottom-color: #4241FF
}
.la_product_tag_cloud .active a, .la_product_tag_cloud a:hover, .widget_tag_cloud .active a, .widget_tag_cloud a:hover {
	border-color: #4241FF;
	background-color: #4241FF
}
.la_product_tag_cloud .active a, .la_product_tag_cloud a:hover, .widget_tag_cloud .active a, .widget_tag_cloud a:hover {
	border-color: #4241FF;
	background-color: #4241FF
}
.widget_layered_nav ul li.chosen a:after, .widget_layered_nav ul li.active a:after {
	background: #4241FF
}
.search-form .search-button:hover {
	color: #4241FF
}
.lastudio-posts .lastudio-more-wrap .lastudio-more:hover {
	background-color: #4241FF;
	border-color: #4241FF
}
.lastudio-posts .lastudio-more-wrap .lastudio-more:hover {
	background-color: #4241FF;
	border-color: #4241FF
}
.lastudio-posts .lastudio-more-wrap .lastudio-more:hover {
	background-color: #4241FF;
	border-color: #4241FF
}
.lastudio-posts.preset-grid-2 .lastudio-more-wrap .lastudio-more:hover {
	background-color: #4241FF
}
.lastudio-posts.preset-grid-4 .post-terms {
	color: #4241FF
}
.lastudio-posts.preset-grid-5 .loop__item.has-post-thumbnail .lastudio-posts__inner-content:after {
	background-color: #4241FF
}
.lastudio-posts.preset-grid-6 .loop__item .lastudio-posts__inner-box:after {
	background-image: linear-gradient(180deg, rgba(19,19,19,0.66) 0, #4241FF 100%)
}
.lastudio-posts.preset-grid-7 .post-terms {
	color: #4241FF
}
.lastudio-posts--list .post-terms {
	color: #4241FF
}
.lastudio-posts .post-thumbnail.single_post_quote_wrap .blog_item--thumbnail {
	background: #4241FF
}
.lastudio-slick-dots li.slick-active span, .lastudio-slick-dots li:hover span {
	background-color: #4241FF
}
.lastudio-team-member__item .lastudio-images-layout__link:after {
	background-color: #4241FF
}
.lastudio-team-member__socials .item--social a:hover {
	background-color: #4241FF
}
.preset-type-3.lastudio-team-member .lastudio-team-member__position {
	background-color: #4241FF
}
.preset-type-7.lastudio-team-member .item--social a:hover {
	color: #4241FF
}
.preset-type-8.lastudio-team-member .item--social a:hover {
	color: #4241FF
}
.playout-grid.preset-type-4 .lastudio-portfolio__button:hover {
	background-color: #4241FF
}
.playout-grid.preset-type-6 .lastudio-portfolio__item:hover .lastudio-portfolio__button {
	color: #4241FF
}
.playout-grid.preset-type-7 .lastudio-portfolio__item:hover .lastudio-portfolio__button {
	color: #4241FF
}
.has-default-404 .default-404-content h1 {
	color: #4241FF
}
blockquote.wp-block-quote.quote-style-one {
	background-color: #4241FF
}
.listing__content-price {
	color: #4241FF
}
.job_listings .job_filters .lastudio-search-submit .search-submit {
	background-color: #4241FF
}
.woocommerce-message .button:hover, .woocommerce-error .button:hover, .woocommerce-info .button:hover {
	color: #4241FF
}
.open-advanced-shop-filter .wc-toolbar-container .btn-advanced-shop-filter {
	color: #4241FF
}
.la-compare-table .add_to_cart_wrap a:hover {
	background-color: #4241FF
}
.products-list .product_item .product_item--thumbnail .quickview:hover {
	background-color: #4241FF
}
.products-list .product_item .product_item--info .la-addcart:hover {
	background-color: #4241FF
}
.products-list .product_item .product_item--info .add_compare.added, .products-list .product_item .product_item--info .add_compare:hover, .products-list .product_item .product_item--info .add_wishlist.added, .products-list .product_item .product_item--info .add_wishlist:hover {
	color: #4241FF
}
.products-grid .button.added {
	background-color: #4241FF
}
.products-grid .button:hover {
	background-color: #4241FF
}
.entry-summary p.stock.in-stock {
	color: #4241FF
}
.entry-summary .add_compare.added, .entry-summary .add_wishlist.added {
	color: #4241FF
}
.woocommerce-MyAccount-navigation li:hover a, .woocommerce-MyAccount-navigation li.is-active a {
	background-color: #4241FF
}
.registration-form .button {
	background-color: #4241FF
}
p.lost_password {
	color: #4241FF
}
@media (min-width:992px) {
.woocommerce-cart .woocommerce td.actions .button:hover {
	color: #4241FF
}
}
.elementor-page-620 .elementor-333 .elementor-element.elementor-element-5c17bf6{
	   width: 800px !important; 
    max-width: 800px !important;
}
.elementor-page-620 .elementor-333 .elementor-element.elementor-element-5c17bf6 .elementor-heading-title{
	margin-bottom: 20px !important
}

.elementor-page-620 .elementor-333 .elementor-element.elementor-element-ba35965 .elementor-spacer-inner {
    height: 160px !important;
}
.elementor-page-620 .elementor-333 .elementor-element.elementor-element-7354049 .elementor-spacer-inner {
    height: 95px !important;
}
.elementor-page-620 .elementor-333 .elementor-element.elementor-element-5c17bf6>.elementor-widget-container {
    margin: 0 !important;
}
/*320 - 767*/
@media screen and (max-width: 767px) {


.elementor-333 .elementor-element.elementor-element-71400ae .elementor-image img{
width:100% !important	
}
}
.section-page-header .page-header-inner {
    padding-top: 320px;
    padding-bottom: 320px;
}
